.App {
  text-align: center;
}

.content {
  height: calc(100vh - 138.88px);
  margin: 0 auto;
  margin-top: 138.88px;
  font-size: calc(10px + 2vmin);
  max-width: 600px;
}

.form {
  margin: 20px auto;
  max-width: 900px;
}

.FormControl {
  width: 100%;
}

@media (max-width: 720px) {
  
  .tab {
    display: none;
  }

}