body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f8ff;
}

#mobile {
  display: none;
}

@media (max-width: 720px) {

  #mobile {
    display: block;
  } 
  #tabs {
    display: none;
  }
}